@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer components {
  .card {
    background-color: white;
    margin-right: 32px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 430px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    cursor: pointer;
  }
  .card h3 {
    font-weight: 700;
    font-size: 1.125rem;
    white-space: nowrap;
    line-height: 1.0625;
    padding: 0.75rem 1rem 0 1rem;
    margin-bottom: 0.5rem;
  }
  .card h3:hover {
    transition: color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #1e5c85;
  }
  .price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #eaeaea;
    height: 100%;
    padding-top: 0.5rem;
  }
  .price p {
    font-weight: 700;
    font-size: 12px;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .cardLink ul {
    margin-top: 16px;
  }
  .cardLink li {
    margin-top: 10px;
    cursor: pointer;
  }
  .cardLink h1 {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid black;
  }
  .btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 16px;
    font-weight: 700;
    border: 1px solid #eaeaea;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
  }
  .btn-icon:hover {
    transition: color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #2c87c3;
  }
  .shareArea {
    display: flex;
  }
  .shareArea input {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 6px 8px 6px 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-weight: 700;
    cursor: pointer;
  }
  .shareArea input:hover {
    transition: color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    color: #2c87c3;
  }
  .copy-icon {
    border: 1px solid #eaeaea;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 37px;
    width: 37px;
  }
  .search-box {
    webkit-transition: box-shadow 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: box-shadow 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: box-shadow 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: box-shadow 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: none;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.21),
      inset 0px 0px 0px 1px rgba(0, 0, 0, 0.12);
  }
  .search {
    border-bottom: 1px solid #eaeaea;
  }
  .img-border {
    border: 1px solid #eaeaea;
  }
  .com-btn {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 10px 16px 10px 16px;
    border: 1px solid #eaeaea;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    background: #2c87c3;
    cursor: pointer;
  }
  .com-btn:hover {
    transition: color 0.45s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: #1e5c85;
  }
  /* Custom styles for chatbox */
  .chat-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-width: 300px;
    background-color: #2c87c3;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    animation: fadeInUp 0.5s ease;
  }
  .close-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  /* CSS animation for chatbox */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes fadeOutDown {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(10px);
      display: none;
    }
  }
  .copy-message {
    position: relative;
    background-color: #4caf50;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: none;
  }

  .copy-message.show {
    display: block;
  }
}
